<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://wallpapercave.com/wp/j1H5qWN.jpg" class="d-block w-100 h-50" alt="...">
        <div class="carousel-caption d-none d-md-block text-white text-end">
          <h5>The UEFA European Football Championship</h5>
          <p>The new UEFA EURO 2020 schedule has been confirmed, with 11 host cities staging the 51 fixtures..</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://wallpapercave.com/wp/Mx8QOkb.jpg" class="d-block w-100 h-50" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>FIFA WORLD CUP QATAR 2022™ IN ARABIC</h5>
          <p>Qatar is the first west Asian nation and also the smallest country to host a FIFA World Cup. With unique attractions, spectacular, state-of-the-art stadiums and the added bonus of traditional Arab hospitality, it promises to host a tournament like no other.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://wallpapercave.com/wp/CBnFAA6.jpg" class="d-block w-100 h-50" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Lionel Messi</h5>
          <p class="fw-bold">Lionel Andrés Messi is an Argentine professional footballer who plays as a forward and captains both Spanish club Barcelona and the Argentina national team</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
