<div class="container m-1">
    <h1 class="m-1 text-center text-warning">Latest News</h1>
    <div class="row">
        <div class="col-6">
           <img src="https://images.indianexpress.com/2021/06/india-football.jpg" alt="" class="w-100 rounded">
        </div>
        <div class="col-6">
            <h3>FIFA World Cup Qualifiers Highlights: 10-men India lose 1-0 to Qatar</h3>
            <p>
                60FIFA World Cup Qualifiers, India vs Qatar Football Highlights: A 10-man India defended creditably well as they suffered a 0-1 defeat to Asian champions Qatar in their World Cup qualifying 
                round match in Doha on Thursday. Abdel Aziz scored in the 33rd minute in a match completely dominated by the Qataris. The two sides had played out a goal-less draw in their first leg match
                 here in September 2019.
            </p>
            <div class="text-end">
                <button class="btn btn-primary">To know more</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
             <h3>Everyone is gutted, we deserved something against Qatar: Gurpreet Singh Sandhu</h3>
             <p>India must learn to capitalise on their chances when up against big teams, said a gutted Gurpreet Singh Sandhu, whose goalkeeping heroics could not prevent a 0-1 defeat to Qatar in their FIFA World Cup Qualifier here.
                Just 33 minutes into their joint 2022 World Cup and 2023 Asian Cup Qualifier, India fought but losing by a bigger margin on Thursday night
             </p>
             <div class="text-end">
                <button class="btn btn-primary">To know more</button>
            </div>
        </div>
        <div class="col-6">
             <img src="https://images.indianexpress.com/2021/06/gurpreet-india.jpg" alt="" class="w-100 rounded">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <img src="https://images.indianexpress.com/2019/12/copa-america-1200.jpg" alt="" class="w-100 rounded">
         </div>
         <div class="col-6">
             <h3>Bolsonaro wants Copa America in Brazil; Sergio Aguero casts doubts</h3>
             <p>
                Argentina forward Sergio Aguero has cast doubt on holding the Copa America while the coronavirus pandemic rages in the region, just hours after Brazilian 
                President Jair Bolsonaro pushed ahead with late plans to host the tournament.
                Bolsonaro on Tuesday said five governors have agreed to host matches in the South American continental event, which is scheduled to kick off June 13. But Aguero and the international players’ union, FIFPRO, are not convinced the tournament should go ahead.
             </p>
             <div class="text-end">
                <button class="btn btn-primary">To know more</button>
            </div>
         </div>
    </div>
    <div class="row">
        <div class="col-6">
             <h3>USA 3-2 Mexico: Christian Pulisic scores winner in Concacaf Nations League final</h3>
             <p>Chelsea midfielder Christian Pulisic scored an extra-time winner for the United States in a dramatic Concacaf Nations League final against Mexico.The US twice came from behind to force extra time and the 22-year-old converted a penalty to win the title.
                The penalty was only awarded after a lengthy VAR consultation during which Mexico coach Gerardo Martino was sent off for confronting the referee.Mexico then had a penalty saved late on by substitute keeper Ethan Horvath.
                "I'm kind of speechless to be honest," Horvath said after the inaugural final."If you're on the bench as a keeper you don't expect to come in the game.
             </p>
             <div class="text-end">
                <button class="btn btn-primary">To know more</button>
            </div>
        </div>
        <div class="col-6">
             <img src="https://ichef.bbci.co.uk/onesport/cps/624/cpsprodpb/1809E/production/_118826489_gettyimages-1322242616.jpg" alt="" class="w-100 rounded">
        </div>
    </div>
</div>
